.all-index {
    padding: 0 250px;
}
a {
    text-decoration: none;
}
.index-top {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title {
    font-size: 24px;
    font-weight: 500;
}
.new-cre {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: #2962ff;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.index-list {
    border: solid 1px;
    width: 100%;
    margin: 40px 0;
    text-align: left;
}
.sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 40px 0;
    padding: 15px 30px;
}
.sum-title {
    gap: 15px;
}
.sum-text {
    font-size: 24px;
}
.sum-num {
    font-size: 32px;
}