.all-new {
    max-width: 980px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
}
.new-form {
    background-color: white;
    padding: 24px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02), 0px 1px 3px rgba(50, 50, 93, 0.15);
    height: fit-content;
}
.new-tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
}
label {
    margin-bottom: 8;
}
.form-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}
.form-text {
    width: 100%;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}
.new-check {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 16px;
    gap: 10px;
}
.ul-day {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
    gap: 15px;
}
.li-day {
    width: 50%;
}
.ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    margin-bottom: 0;
    align-items: center;
}

.cansel {
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    border: solid 1px;
    border-color: #A2A2A4;
    padding: 12px 20px;
    border-radius: 5px;
}
.submit {
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 20px;
    background-color: #2962ff;
    border-radius: 5px;
    border: solid 1px;
}
.hozon {
    margin-top: 16px;
}
